@import "tailwindcss";
@import "tw-animate-css";


/* Add to your tailwind CSS or globals */
@theme {
  --color-primary: #1976d2;
  --color-secondary: #9c27b0;
  --color-error: #d32f2f;
  --color-warning: #ed6c02;
  --color-info: #0288d1;
  --color-success: #2e7d32;
  --radius-default: 4px;
}
